:root {
  --clr-bg: rgb(252, 249, 243);
  --clr-empty: rgb(230, 230, 230);
  --clr-text: rgb(24, 24, 31);
  --width-team: 150px;
  --fn-24: 700 24px Arial, sans-serif;
}
@media (prefers-color-scheme: dark) {
  :root {
    --clr-bg: rgb(24, 24, 31);
    --clr-empty: rgb(44, 44, 49);
    --clr-text: #d6eeff;
  }
}
